.Insert > form {
	border: 1px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    margin: auto;
    padding: 10px;
    width: 250px;
    text-align: right;
    font-size: large;
}

.Insert input, .Insert select, .Insert button {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    font-size: large;
}

.Error {
    color: red;
    font-weight: bold;
    position: absolute;
    margin: 0 20px;
}